#activityFeed #fixedContentHeader .currentGroup {
	width:100%;
	border-image: none;
}

/*To make space for the content header*/
#activityFeed .content .scrollableContent{
	margin-top:34px;
	/*width:96%;*/
	width:100%;
}

#activityFeed .content .activityBlock{
	padding: 0.5em 0.5em 0.5em 0.5em ;
	height: 6em;
	line-height: 6em;
	background-color: #ffffff;
	border-bottom: 1px solid #efefef;
	text-align: left;
	position: relative;
}

#activityFeed .content .activityBlock:active,
#activityFeed .content .activityBlock.is-active{
	background-color: #bcbfbf;
}

#activityFeed .content  .peopleImg{
	float: left;
	width:13%;
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	height: 6em;
}

#activityFeed .content  .peopleImg img
{
	width: 6em;	
}

#activityFeed .content .activityBlock .contentWrapper{
	/*display: inline-block;*/
	/*font-weight:bold;*/
	margin:1em;
	/*float:center;*/
}

#activityFeed .content .activityBlock .date{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
	padding-right: 0.5em;
	line-height: 1em;
	padding: 0.5em;
	height: 1em;
	border-top: 0.09em solid #BABABA;
	white-space: nowrap;
	font-size: 0.8em;
}
#activityFeed .content .activityBlock .content{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	line-height: 1em;
	overflow: hidden;
	height: 4.5em;
	padding-left: 1em;
	padding-bottom:1em;
}

#activityFeed .content  .activityBlock .action{
	/*line-height: 1em;*/
}

#activityFeed .content .activityBlock .reference{
	/*text-decoration: underline;*/
}