/* app css stylesheet */

html, body { min-height: 100%; }
a { text-decoration: none; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#dedede;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

    /*To pervent semitransparent overlay on touch press/hold*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

.page-wrap{
  position: fixed;
  width:100%;
  height: 100%
}

.main-nav {
  transition: margin-left 0.2s ease;
  -webkit-transition: margin-left 0.2s ease;
}
.search-nav {
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
}
.page-wrap{
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  transition: right 0.2s ease;
  -webkit-transition: right 0.2s ease;
}
  
.page-wrap.menu{
  left: 80%;
}

.page-wrap.search{
  left: -100%;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 80%;
  margin-left:-80%;
  height: 100%;
  background: #cccfcf;
  overflow: hidden;
  text-align: left;
}
#search-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  margin-left:100%;
}
#main-nav.menu{
  margin-left:0%;
}
#search-nav.search{
  margin-left:0%;
}

#contentWrapper {
  height: 92%;
  position: relative;
}

.expand{
  width: 100%;
  height: 100%;
}
.center{
  text-align: center;
  background: white;
}

.btnSwitch{
    width: 6em;
    height: 29px;
    line-height: 29px;
    padding:0;
    font-family: 
    "Droid Sans", "Lucida Grande", 
    Verdana, Arial, sans-serif, Helvetica;
   }
   
.btnSwitchShow{display:block;}

.btnSwitchHide{display:none;}

.btnSwitchOn,.btnSwitchOff{
    border-radius: 3px 3px 3px 3px;
    font-weight:700;
    text-align:center;
    width:3em;
    }
    
.btnSwitchOn{
    float:left;
  }
  
.btnSwitchOff{
    background-color:#CCCCCC;
    color:#666666;
    float:right;
  }
  
.btnSwitch,.btnSwitchOn .btnSwitchOff{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.topcoat-switch {
  position: relative;
  display: inline-block;  
  padding: 0 0.5rem;
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  overflow: hidden;
  width: 3.5rem;
  text-align: left !important;
  margin: auto 5px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

.topcoat-switch__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  border: 0;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
  filter: alpha(opacity=0.1);
  opacity: 0.001;
}

.topcoat-switch__toggle,.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topcoat-switch__toggle {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 2rem;
  border-radius: 5px;
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #e5e9e8;  
  border: 1px solid #a5a8a8;
  margin-left: -1.3rem;
  margin-bottom:-1px;
  margin-top:-1px;

  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  
  -webkit-transition: margin-left 0.05s ease-in-out;
  -moz-transition: margin-left 0.05s ease-in-out;
  -o-transition: margin-left 0.05s ease-in-out;
  -ms-transition: margin-left 0.05s ease-in-out;
  transition: margin-left 0.05s ease-in-out;
}

.topcoat-switch__input:checked + .topcoat-switch__toggle {
  margin-left: 2rem;
}

.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
  position: absolute;
  
  width: 3.5rem;
  z-index: -1;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.topcoat-switch__toggle:before {
  content: attr(data-btnOnText);
  color: #0083e8;
  background-color: #e0f0fa;
  border-radius: 0;
  top: -1px;
  right: 1rem;
  padding-left: 0.6rem;
}

.topcoat-switch__toggle:after {
  content: attr(data-btnOffText);
  background-color: #d3d7d7;
  top: -1px;
  left: 1rem;
  padding-left: 1.2rem;
}
