/* app css stylesheet */

/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/



html, body { min-height: 100%; }
a { text-decoration: none; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.main-header {
  /*background: linear-gradient(#3F94BF, #246485);*/
  background: #bf1527;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24',endColorstr='#BE1527');
  background: -webkit-gradient(linear,left top,left bottom,from(#ed1c24),to(#be1527));
  background: -moz-linear-gradient(top,#ed1c24,#be1527);
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  /*position: fixed;*/
  position: relative;
  /*width: 100%;*/
  left: 0;
  /*transition: all 0.3s ease;x*/

  a {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 32px;
  }
}
.main-header, .searchButton{
  padding:5px;
}

#mainFunctions :nth-child(even){
  padding-left:0.8em;
  padding-right:0.8em;
}

.page-wrap.noMenu {
  float: right;
  width: 100%;
}

.page-wrap{
  position: relative;
}

.main-nav {
  /*transition: margin-left 0.5s ease;*/
  transition: margin-left 1s ease;
}
.page-wrap{
  /*transition: left 0.5s ease;*/
  /*transition: left 0.5s ease;*/
  transition: left 1s ease;
}

.page-wrap.menu{
  left: 20%;
}

.menuButton .searchButton{
  color:black;
}
.menuButton{
  float:left;
}
.searchButton{
  position: absolute;
  right: 0;
  top:0;
}
.menuButton:hover{
  color:white;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 20%;
  margin-left:-20%;
  height: 100%;
  background: #3B3B3B;
  overflow: hidden;
  text-align: center;
}
#main-nav.menu{
  /*width: 20%;*/
  margin-left:0%;
}



/*.content {
  padding: 100px 20px 20px 20px;
}
*/
/*.close-menu {
  display: none;
}*/

/*#main-nav:target {
  width: 20%;
}*/

