/* app css stylesheet */

html, body { min-height: 100%; }
a { text-decoration: none; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

    /*To pervent semitransparent overlay on touch press/hold*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

.page-wrap{
  position: fixed;
  width:100%;
  height: 100%
}

.main-nav {
  transition: margin-left 0.2s ease;
  -webkit-transition: margin-left 0.2s ease;
}
.page-wrap{
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
}

.page-wrap.menu{
  left: 80%;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 80%;
  margin-left:-80%;
  height: 100%;
  background: #3B3B3B;
  background: black;
  overflow: hidden;
  text-align: center;
}
#main-nav.menu{
  margin-left:0%;
}
#contentWrapper {
  height: 91%;
  position: relative;
}

.expand{
  width: 100%;
  height: 100%;
}
.center{
  text-align: center;
}

.btnSwitch{
    width: 6em;
    height: 29px;
    line-height: 29px;
    padding:0;
    font-family: 
    "Droid Sans", "Lucida Grande", 
    Verdana, Arial, sans-serif, Helvetica;
   }
   
.btnSwitchShow{display:block;}

.btnSwitchHide{display:none;}

.btnSwitchOn,.btnSwitchOff{
    border-radius: 3px 3px 3px 3px;
    font-weight:700;
    text-align:center;
    width:3em;
    }
    
.btnSwitchOn{
    float:left;
  }
  
.btnSwitchOff{
    background-color:#CCCCCC;
    color:#666666;
    float:right;
  }
  
.btnSwitch,.btnSwitchOn .btnSwitchOff{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }