#contentHeader, #fixedContentHeader {
	background-color: rgb(228, 228, 228);
	font-weight: bold;
	height: 4em;
	line-height: 4em;
	overflow: hidden;
	white-space: nowrap;
	-webkit-border-image: -webkit-linear-gradient( left, rgba(186,186,186,0.1) , rgba(186,186,186,0.8) 50%, rgba(186,186,186,0.1) 100%) 0 1 100%;
	border-width: 0.2em;
}
#contentHeader .home, #fixedContentHeader .home{
	/*float:left;*/
}
#fixedContentHeader{
	z-index: 2;
	position: absolute;
	width:100%;
}

#fixedContentHeader .spinnerHolder, #fixedContentHeader .spinnerHolder{
	display: inline-block;
	width:0.8em;
	height: 0.8em;
	color:#ed1c24;
}

#fixedContentHeader .leftHolder, #fixedContentHeader .rightHolder{
	position: absolute;
	font-size: 1.5em;
	height: 100%;
	overflow: hidden;
	top:0em;
}
#fixedContentHeader .leftHolder{
	width:30%;
}

#fixedContentHeader .leftHolder .content{
	padding-left: 0.3em;
	text-align: left;
}
#fixedContentHeader .leftHolder .content i{
}


#fixedContentHeader .rightHolder{
	width:20%;
}

#fixedContentHeader .rightHolder .content{
	margin-left:0.6em;
}
#fixedContentHeader .rightHolder .content i{
	padding-right: 0.2em;
}

#fixedContentHeader .rightHolder{
	right:0em;
}
#fixedContentHeader .currentGroupHolder{
	position: relative;
	width: 70%;
	height:100%;
	display: inline-block;
	z-index: 4;
	text-align: center;
}
#fixedContentHeader  .currentGroup{
	font-size: 1.5em;
	position: relative;
	width:85%;
	height:100%;
	background-color: #E4E4E4;
	float: center;
	display:inline-block;
	border-image:-webkit-linear-gradient( top, rgba(186,186,186,0) 0%, rgba(186,186,186,0.8) 50%, rgba(186,186,186,0.0) 100%) 1 100%;
	border-width:0.1em;
	border-right-width:0;
	z-index:2;
}
#fixedContentHeader.nothingRight .currentGroup{
	overflow: visible;
}

#fixedContentHeader.noNav .currentGroup{
	width:100%;
	border-image:none;
}

#fixedContentHeader .currentGroup>span {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#fixedContentHeader .fadeContentRight{
	position: absolute;
	right:0em;
	top:0em;
	width:10%;
	height: 100%;
	background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(228, 228, 228, 0.0)),
      to(rgba(228, 228, 228, 1.0))
    );
    z-index: 4;
}

#fixedContentHeader .fadeSuroundingsLeft, #fixedContentHeader .fadeSuroundingsRight{
	position: absolute;
	height:100%;
	width:9%;
	display: inline-block;
	top:0em;

}
#fixedContentHeader>div .fadeSuroundingsLeft{
	left:0em;
	background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(228, 228, 228, 0.0)),
      to(rgba(228, 228, 228, 1.0))
    );
}

#fixedContentHeader>div .fadeSuroundingsRight{
	right:0em;
	background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(228, 228, 228, 1.0)),
      to(rgba(228, 228, 228, 0.0))
    );	
}

#fixedContentHeader #backBtn i{
	padding-right: 0.2em;
}