#contentHeader, #fixedContentHeader {
	background-color: rgb(228, 228, 228);
	
	font-weight: bold;
	height: 4em;
	line-height: 4em;
	overflow: hidden;
	border-bottom: 0.15em solid #BABABA;
}
#contentHeader .home, #fixedContentHeader .home{
	/*float:left;*/
}
#fixedContentHeader{
	z-index: 1;
	position: absolute;
	width:100%;
}

#fixedContentHeader  .currentGroup{
	font-size: 1.5em;
	float:center;
}
#fixedContentHeader .spinnerHolder, #fixedContentHeader .spinnerHolder{
	display: inline-block;
	width:0.8em;
	height: 0.8em;
	color:#ed1c24;
}

#fixedContentHeader #backBtn{
	z-index: 2;
	position: absolute;
	font-size: 1.5em;
	width:37%;
	height: 100%;
	overflow: hidden;
	left:0em;
}
#fixedContentHeader #backBtn .content{
	width:70%;
	height: 100%;
	text-align: left;
	padding-left: 0.7em;
}
#fixedContentHeader #backBtn .text {
	position: absolute;
	width: 100%;
}
#fixedContentHeader #backBtn .transition{
	position: absolute;
	width:30%;
	display: inline-block;
	top:0em;
	right:0em;
	height: 100%;
	background-image: -webkit-gradient(
      linear, right top, left top, from(rgba(228, 228, 228, 1.0)),
      to(rgba(228, 228, 228, 0))
    );
}
#fixedContentHeader #backBtn i{
	padding-right: 0.2em;
}