
/*To make room for the content header*/
#documents .scrollableContent{
	margin-top:4em;
}

#documents ul li{
	background-color: rgb(228, 228, 228);
	background-color:#E4E4E4;
}

#documents #DCFolder ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0em;
}

#DCFolder ul li{
	text-align: left;
	border-bottom: 0.2em solid #BABABA;
}

#documents .row{
	margin: 0;
	width:100%;
	height: 100%;
	display: inline-block;
	position: relative;
	background-color: white;
}
#documents .rowIcon{
	width: 5em;
	height: 5em;
	text-align: center;
	background-color: #D1D1D1;
	position: absolute;
}
#documents .iconHolder {
	padding-top: 1.5em;
}

#documents .row .textHolder{
	display: inline-block;
	padding-left: 6em;
	height: 100%;
	line-height: 5em;
}
#documents .rowText{
	font-size: 1.5em;
}
#documents .fileInfo{
	text-align: center;
	width: 50px;
	height:3.5em;
	background-color:#E4E4E4;
	position: absolute;
	right: 0;
	top:0;
	padding-top: 1.5em;
	z-index:1;
}
#documents ul .fileInfo, #documents ul .content {
	background-color: white;
	overflow: hidden;
}


#documents .fileInfoTransition{
	width: 50px;
	height:5em;
	position: absolute;
	right: 50px;
	top:0;
	z-index:1;
    /*background-image: -webkit-gradient(
      linear, right top, left top, from(rgba(228, 228, 228, 1.0)),
      to(rgba(228, 228, 228, 0))
    );*/
    background-image: -webkit-gradient(
      linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
      to(rgba(255, 255, 255, 0))
    );
}
#documents #files , #documents #folders {
	font-weight: bold;
	background-color: #D1D1D1;
	font-size: 1.9em;
	line-height: 2em;
	border-bottom: none;
}
#documents #files .text, #documents #folders .text{
	padding-top: 0.75em;
	padding-left: 0.3em;
	color: #5b677d;
}

#documents .content{
	height: 5em;
	position:relative;
}

#documents #DCFileDetail .title {
	font-size: 1.9em;
	line-height: 2em;
	background-color: #D1D1D1;
}
#documents #DCFileDetail .content p{
	border-bottom: 0.2em solid #BABABA;
}
#documents #DCFileDetail .content{
	padding-top: 1em;
}

#documents #DCFileDetail .btnSwitch{
    width: 6em;
    height: 29px;
    line-height: 29px;
    padding:0;
    font-family: 
    "Droid Sans", "Lucida Grande", 
    Verdana, Arial, sans-serif, Helvetica;
   }
   
#documents #DCFileDetail .btnSwitchShow{display:block;}

#documents #DCFileDetail .btnSwitchHide{display:none;}

#documents #DCFileDetail .btnSwitchOn,#documents #DCFileDetail .btnSwitchOff{
    border-radius: 3px 3px 3px 3px;
    font-weight:700;
    text-align:center;
    width:3em;
    }
    
#documents #DCFileDetail .btnSwitchOn{
    float:left;
  }
  
#documents #DCFileDetail .btnSwitchOff{
    background-color:#CCCCCC;
    color:#666666;
    float:right;
  }
  
#documents #DCFileDetail .btnSwitch,#documents #DCFileDetail .btnSwitchOn,#documents #DCFileDetail .btnSwitchOff{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
