.footer{
	position: absolute;
	width: 100%;
	padding: 0.5em;
	background: red;
	bottom: 0;
	text-align: center;
	background: #bf1527;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24',endColorstr='#BE1527');
	background: -webkit-gradient(linear,left top,left bottom,from(#ed1c24),to(#be1527));
	background: -moz-linear-gradient(top,#ed1c24,#be1527);

	font-weight: bold;
	height: 1em;
	font-size: 1.5em;
}