
header{
	background: #bf1527;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24',endColorstr='#BE1527');
	background: -webkit-gradient(linear,left top,left bottom,from(#ed1c24),to(#be1527));
	background: -moz-linear-gradient(top,#ed1c24,#be1527);
	text-align: center;
	color: white;
	text-shadow: #222 0px -1px 1px;
	left: 0;

	height: 34px;
	width:100%;
	display: table;
}

header #headerCell {
	vertical-align: middle;
	display: table-cell;
	position: relative;
}

header #mainFunctions{
	/*color: #ec7260;*/
	color: #DF9084;
}

header .activeLinkClass{
	color:white;
}

header .menuButton .searchButton{
  color:black;
}
header .menuButton, .searchButton{
  /*position: absolute;*/
  top: 0;
}
header .menuButton{
  float:left;
  margin-left: 0.3em;
}

header .sideButton:active,
header .sideButton.is-active{
	text-shadow: 0 1px #fff;
  background-color: #ED4040;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

header .centerButton:active,
header .centerButton.is-active{
  text-shadow: 0 2px #000000;
  color: red;
}

header .searchButton{
  /*right: 0;*/
  float:right;
  margin-right: 0.3em;
}

header #mainFunctions :nth-child(2){
  margin-left:0.8em;
  margin-right:0.8em;
}

header #mainFunctions :nth-child(3){
  margin-right:0.8em;
}

header .searchButton, .menuButton{
  padding: 0.15em;
}

header .menuButton .searchButton{
  color:black;
  position: absolute;
  top: 0;
}
header .menuButton:hover{
  color:white;
}
header table{
	width:100%;
}