header{
  background: #bf1527;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24',endColorstr='#BE1527');
  background: -webkit-gradient(linear,left top,left bottom,from(#ed1c24),to(#be1527));
  background: -moz-linear-gradient(top,#ed1c24,#be1527);
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: relative;
  left: 0;
}

/*header #mainFunctions>:active, header #mainFunctions>:hover{
	text-shadow: 0em 0em 0.4em;
	color:white;
	text-decoration:none !important;
}*/
header #mainFunctions{
	color: rgb(71, 0, 0);
}

header .activeFunction{
	color:white;
}

header .menuButton .searchButton{
  color:black;
}
header .menuButton, .searchButton{
  position: absolute;
  top: 0;
}
header .menuButton{
  left:0;
}
header .searchButton{
  right: 0;
}
header .menuButton:hover{
  color:white;
}

header #mainFunctions :nth-child(2){
  padding-left:0.8em;
  padding-right:0.8em;
}

header{
  padding:0.5em;
}
header .searchButton, .menuButton{
  padding: 0.15em;
}

header .menuButton .searchButton{
  color:black;
  position: absolute;
  top: 0;
}
header .menuButton:hover{
  color:white;
}

