#login label{
	font-weight: bold;
}

#login #agora_logo{
	display: block;
    margin: auto;
    margin-top: 4%;
    width: 60%;
}

#login #loginMessage{
	text-align: center;
	width: 75%;
	height: 4em;
	margin: 5px auto;
	padding: 5px auto;
}

#login #uninett_logo{
	display: block;
    margin: auto;
    margin-top: 10%;
    width: 60%;
}

#feideLoginDiv{
	text-align: center;
	height:3em;
	border-width: 1px 0 0 0;
	margin: 0 auto;
}

#feideDomainPciker{/*Add select button css style because the phonegap and android web render bug for select tag: http://stackoverflow.com/questions/14744437/html-select-box-not-showing-drop-down-arrow-on-android-version-4-0-when-set-with */
	width: 30%;
	display:inline-block;
	height:20px;
	padding:0px 6px;
	margin-bottom:10px;
	font-size:14px;
	line-height:16px;
	color:#555555;
	vertical-align:middle;
}

#feideDomainDiv{
	font-weight: bold;
}

#login .icon-info-sign{
	margin-right: 5px;
}

#login #affiliationPicker{
	text-align: center;
	color:black;
	font-size: 14px;
}
#login .accordion-toggle{
	font-size: 14px;
	color: #333333;
}
#login .accordion-toggle .header{
	font-weight: bold;
}
#login .accordion-toggle .header:hover{
	font-weight: bold;
	text-decoration: none !important;
}
#login #affiliationPicker #affiliationsHolder ul{
	list-style: none;
	width: 100%;
}
#login #affiliationPicker #affiliationsHolder ul #noAffiliation{
	/*border: 1px solid #e5e5e5;
	border-width: 1px 0 0 0;*/
	font-style: italic;
}
#login #affiliationPicker #affiliationsHolder li{
	height: 1.5em;
	line-height: 1.5em;
	font-size:1.5em;
	position: relative;
}
#login #affiliationPicker #affiliationsHolder li span{
	text-decoration: underline;
}

#login .accordion-group {
	border-width: 0px 0px 1px 0px;
}
#login .accordion-inner, #login ul{
	padding:0;
	margin:0;
}
#login .accordion-inner {
	border-width: 0px 0px 1px 0px;
}
#login #feideLogin{
	margin: 0 auto;
	margin-top: 1em;
}
#login #regularLogin{
	margin: 0 auto;
}
#login footer {
}

#login #affiliationPicker .accordion-heading a{
	text-decoration: none !important;
}

#login #affiliationBar{
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

#affiliationSelect{
	display: block;
	margin: 0 auto;
	list-style: none;
}

#affiliationSelect li{
	margin-top: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 1.2em;
}

#affiliationSelect li:active,
#affiliationSelect li.is-active{
  background-color: #666666;
  color: #ffffff;
}

#affiliationSelectTitle{
	font-size: 1.5em;
}

#login #loginForm{
	margin-top: 8px;
	margin-bottom: 5px;
	text-align: center;
}

#login .loginFormElement{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	min-height: 4em;
}

#login #loginNameLabel{
	float: left;
	width: 30%;
	margin-left: 20%;
	margin-right: 5px;
	text-align: center;
	line-height: 3em;
}

#login #loginPwdLabel{
	float: left;
	width: 30%;
	margin-left: 20%;
	margin-right: 5px;
	text-align: center;
	line-height: 3em;
}

#login #loginNameInput{
	width: 30%;
	float: left;
	margin: 5px 0px;
}

#login #loginPwdInput{
	width: 30%;
	float: left;
	margin: 5px 0px;
}

#login .labelShow{
	display: block;
}

#login .labelHide{
	display: none;
}

.modal{
	height: 80%;
}

#selectBody{
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	height: 80%;
}