#menu{
	color:#454545;
	height: 100%;
}
#menu .name{
	height: 30px;
	line-height: 30px;
	font-size: 1.2em;
	margin-left: 0.8em;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

#menu #userPortrait img{
	border-radius: 0.1em;
}
#menu #userPortrait{
	height: 45px;
	width: 45px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
}

#menu .header{
	width: 100%;
	height: 68px;
	overflow: hidden;
}

#menu .groups li, #menu .footer li{
	line-height: 2.5em;
	height: 2.5em;
	font-size: 16px;
	padding-left: 0.6em;
	border-top: 1px solid #eff1f1;
  	border-bottom: 1px solid #bcbfbf;
  	font-weight: bold;
}

#menu .groups li:active,
#menu .groups li.is-active,
#menu .footer li:active,
#menu .footer li.is-active{
  background-color: #666666;
  color: white;
}

#menu .groups li:first-child, #menu .footer li:first-child
{
	border-top: 1px solid rgba(0,0,0,0.05);
}

#menu .groups li:last-child, #menu .footer li:last-child
{
	border-bottom: none;
}

#menu .groups .li .fadeContentRight{
	position: absolute;
	right:0em;
	top:0em;
	width:10%;
	height: 100%;
	background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(0, 0, 0, 0.0)),
      to(rgba(0, 0, 0, 1.0))
    );
}

#menu .footer{
	width: 100%;
	padding: 0;
	border-top: 0.15em solid #BABABA;
	overflow: hidden;
}
#menu .footer li{
	margin-left: 0px;
	padding-left: 10px;
	text-align: left;
}

#menu #groupsHeader{
	height: 2em;
	border-bottom: 0.15em solid #BABABA;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,0.5);
  	border-bottom: 1px solid rgba(255,255,255,0.23);
}
#menu #groupsHeader div{
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left: 0.5em;
	background-color: #cccfcf;
  	color: #656565;
  	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#menu .content{

}

#menu .groups {
	font-size: 1.2em;
	width: 100%;
	padding: 0px;
	border-top: 1px solid #bcbfbf;
	position : absolute;
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
	height: 85%;
	-webkit-overflow-scrolling:touch;  
}

#menu .nav-tabs {
	margin-bottom: 0px;
}

#menu .nav-tabs>li {
	height: 34px;
}

#menu .nav-tabs li a{
	background-color: #BABABA;
	color: black;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

#menu .nav-tabs li a :hover{
	border: 0px;
}

#menu .nav-tabs .active a{
	background-color: #8a8a8a;
}
