/*To make space for the content header*/
#messageBoard .scrollableContent{
	margin-top:34px;
}

#messageBoard #categories #fixedContentHeader .currentGroup{
	width:100%;
	border-image: none;
}

#messageBoard #threadsHeader, #messageBoard #categoriesHeader, #messageBoard #messagesHeader {
	border-bottom: 0.2em solid #BABABA;
	font-weight: bold;
	
	font-size: 1.2em;
	line-height: 2em;
}
#messageBoard #categoriesHeader {
	background-color: #666666;
}
#messageBoard #threadsHeader, #messageBoard #messagesHeader {
	background-color: #9E9E9E;
}
#messageBoard #threadsHeader .text, #messageBoard #categoriesHeader .text, #messageBoard #messagesHeader .text{	
	padding-top: 0.75em;
	padding-left: 0.3em;
	color: black;
}

#messageBoard #MBcategory, #messageBoard #MBthread, #messageBoard #MBmessage{
	border-bottom: 0.2em solid #BABABA;
	position: relative;
	text-align: left;
	background-color: white;
}
#messageBoard .header .title{
	line-height: 2em;
	font-size: 1.2em;
	color: #5b677d;
	background-color: #D1D1D1;
	font-weight: bold;
	padding-left: 0.5em;
	padding-bottom: 0.6em;
}
#messageBoard .header{
	position: relative;
}
#messageBoard .header .meta, #messageBoard .meta{
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 1em;
	padding-bottom: 0.2em;
	padding-right: 0.2em;
	font-weight: normal;
	font-size: 1.1em;
	border-top: 0.09em solid #BABABA;
	text-align: right;
	padding-top: 0.1em;
}

#messageBoard .instance .content{
	margin: 0;
	font-size: 1.2em;
	line-height: 1em;
	padding: 0.4em 0.5em 1.2em 0.5em;
}

#MBthread p:first-of-type{
	font-size: 1em;
	font-weight: bold;
}

#xbbcode-q{

}

#xbbcode-q {
	background:#f9f9f9;
	border-left:5px solid #ccc;
	margin:.5em 5px;
	padding:.5em 5px;
	quotes:"\201C""\201D""\2018""\2019";
}
#xbbcode-q:before {
	color:#ccc;
	content:"\201C";
	font-size:2em;
	line-height:.1em;
	margin-right:.15em;
	vertical-align:-.2em;
}
#xbbcode-q p {
	display:inline;
}