/* search view css stylesheet */
#search #searchHeader{
  vertical-align: middle;
  display: table-cell;
  position: relative;
}

#backToMainBtn{
  margin-left: 10px;
  margin-right: 10px;
  width: 5%;
  vertical-align: middle;
  float: left;
}

#searchForm{
  width: 70%;
  float: left;
}

#searchInput{
  width: 70%;
}

#searchResultDiv{

}

#search .searchResult{
  padding: 0.5em 0.5em 0.5em 0.5em ;
  height: 5em;
  line-height: 1.5em;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  position: relative;
  width: 98%;
}

#search .searchResult .result{
  float: left;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 0em;
  height: 5em;
  width: 75%;
  white-space: nowrap;
}

#search .searchResult .result .resultType{
  margin-left: 5px;
  margin-right: 3px;
}

#search .searchResult .result .resultTitle{
  margin-right: 2px;
  overflow: auto;
}

#search .searchResult .result .reference{
  font-style:italic;
}

#search .searchResult .result .snippet{
  font-style:italic;
  margin-left: 5px;
  overflow: auto;
}

#search .searchResult .date{
  float: right;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  line-height: 1.5em;
  overflow: hidden;
  height:4em;
}

#search .dropdown{
  width: 6em;
  left: 0;
  top: 0;
  float: left;
  vertical-align: middle;
}

#search .open>.dropdown-menu {
  top: 3em;
  color: black;
  text-shadow:none;
}

#search #searchChoiceBtn{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px; 
}