/* search view css stylesheet */
#search{
  color:#454545;
  width:320px !important;
  box-shadow:2px 0px 2px  white inset;
}

#search #searchHeader{
  vertical-align: middle;
  display: table-cell;
  position: relative;
}

#search .scrollableContent{
  height: 91%;
}

#backToMainBtn{
  margin-left: 10px;
  width: 5%;
  vertical-align: middle;
  float: left;
  color: white;
  margin-top: 5px;
}

#search .btn{
  margin-left: 5px;
}

#searchBtn {
  visibility:hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

#search #searchprogressbar{
  height: 5px;
  margin: 0 auto;
}

#searchForm{
  width: 100%;
  float: left;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

#searchInput{
  width: 85%;
}

#searchResultDiv{
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}

#search .searchResult{
  padding: 0.5em 0.5em 0.5em 0.5em ;
  height: 6em;
  line-height: 1.5em;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  position: relative;
}

#search .searchResult .result{
  float: left;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 0em;
  height: 5em;
  width: 75%;
  white-space: nowrap;
}

#search .searchResult .resultType{
  float: right;
  margin-right: 5px;
  color:#7CAFCB
}

#search .searchResult .result .resultTitle{
  margin-right: 2px;
  font-style:italic;
  overflow: auto;
}

#search .searchResult .result .reference{
  font-style:italic;
  margin: 0px;
}

#search .searchResult .result .snippet{
  /*font-style:italic;*/
  margin-left: 0px;
  overflow: auto;
  white-space: normal;
  height: 3em;
}

#search .searchResult .date{
  float: right;
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  line-height: 1.5em;
  overflow: hidden;
  height:4em;
}

#search #searchChoices{
  text-align: center;
}

#search #searchChoices .accordion{
  margin: 0px;
  background-color: #bababa;
}

#search #searchChoices .accordion-group {
  border-width: 0px 0px 1px 0px;
  margin:0px;
}

#search #searchChoices .accordion-group .accordion-heading{
  font-size: 1.2em;
  position: relative;
  height: 34px;
}

#search #searchChoices .accordion-group .accordion-heading a{
  text-decoration: none !important;
  color:black;
  font-weight: bold;
}

#search #searchChoices .accordion-group .accordion-heading a:hover{
  color: black !important;
  font-weight:bold;
}

#search #searchChoices .accordion-group .accordion-inner{
  padding: 0px;
}

#search #searchChoices #choiceList {
  list-style: none;
  font-size: 1.5em;
  color:black;
  margin: 0px;
  background-color: #ffffff;
}

#search #searchChoices #choiceList li{
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top:1px solid #bcbcbc;
  font-weight:bold;
}

#search #searchChoices #choiceList li:active,
#search #searchChoices #choiceList li.is-active{
  background-color: #bfbfbf;
}
