#settings summary{
	padding:0.6em;
	font-size:16px;
	line-height: 40px;
	background-color: #D1D1D1;
}
#settings .detailsContent{
	position: relative;
}
#settings .detailsContent .settingslabel{
	padding:0.6em;
	text-align: left;
	padding-left: 10%;
	margin-bottom: 0px;
}
#settings .instance{
	border-bottom: 0.15em solid #BABABA;
	text-align: left;
}
#settings input{
	right:1em;
	position:absolute;
}
#settings button{
	width:100%;
	padding:1em;
}
#settings .switch{
	position:absolute;
	right:1em;
	top:0.6em;
	margin-left: 10px;
}
