#wiki .firstWikiNode{
	display:block;
}
#wiki .scrollableContent{
	margin-top:4em;
}

#wiki #contentList li{
	list-style-type: none;
}

.openList   { display: block; }
.closeList { display: none;  }

#wiki #contentList .root{
    padding: 5px 5px 0px 0px;
	float: left;
	font-size: 25px;
	text-align: left;
}

#wiki #contentList .leaf{
	padding: 5px 5px 0px 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: left;
}
#wiki #contentList .leafTitle{
	margin: auto 0px;
	text-align: left;
	font-size: 20px;
	padding: auto 0px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
}

#wiki summary::-webkit-details-marker {
  display: none
}

#wiki .navbarEle{
	vertical-align: middle;
	display: table-cell;
	position: relative;
	text-align:center;
}

#wiki #listBtn{
	z-index: 2;
	font-size: 1.5em;
	width: 30%;
	text-align:left !important;
}

#wiki #parentPage{
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 5px;
	z-index: 2;
	width: 30%;
}

#wiki #wikiPage{
	float: left;
}

#wiki #wikiPage #childrenPick{
	margin: 0 auto;
	width: 60%; 
}

#wiki #wikiPage #content{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}