#wiki{
}

#wiki #contentList .root{
    padding: 5px 5px 0px 5px;
	margin-top: 5px;
	width: 94%;
	float: left;
	font-size: 1em;
}

#wiki #contentList .leaf{
	margin-left: 10px;
	width: 96%;
	margin-top: 5px;
}

#wiki #contentList .leafSummary {
	padding: 5px 5px 0px 5px;
    float: left;
    width: 96%;
    text-align: left;
    height: 3em;
	padding-top: 1em;
	font-size: 1.3em;
	margin-left: 10px;

	-moz-box-shadow: -2px 0px 0px 0px #ffffff;
	-webkit-box-shadow: -2px 0px 0px 0px #ffffff;
	box-shadow: -2px 0px 0px 0px #ffffff;

}

#wiki summary::-webkit-details-marker {
  display: none
}