<div id="activityFeed" class="expand">
	<!--<div id="fixedContentHeader" data-ng-show="showConentHeader">-->
	<div id="fixedContentHeader">

	    	<overflow-banner class="currentGroup" duration="3000" data-ng-click="goToActivityFeed()">
	    		<div ng-show="currentGroup.name != 'Agora'"><span class="ng-cloak" data-ng-bind="currentGroup.name"></span></div>
	    		<div ng-show="currentGroup.name == 'Agora'"><img id="topGroupLogo" src="./img/UNINETT_logo.png"/></div>
	        	<div class="fadeContentRight"></div>
	    	</overflow-banner>
	    
	</div>



	<div class="content" scrollable trigger-distance="200" loading="{{loading}}" loading-color="bababa" scroll-ease="30">
		<div data-ng-repeat="activity in activities | orderBy:'timestamp':true" class="activity">
			<activity-block activity="activity"></activity-block>
		</div>
	</div>
</div>