<div id="activityFeed" class="expand" class="ng-cloak">
	<div id="fixedContentHeader" data-ng-show="showConentHeader">

	    	<overflow-banner class="currentGroup" duration="3000" data-ng-click="goToActivityFeed()">
	    		{{currentGroup.name}}
	        	<div class="fadeContentRight"></div>
	    	</overflow-banner>
	    
	</div>



	<div class="content" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24" scroll-ease="30">
		<div data-ng-repeat="activity in activities | orderBy:'timestamp':true" class="activity">
			<activity-block activity="activity"></activity-block>
		</div>
	</div>
</div>