<div id="fixedContentHeader" data-ng-show="showConentHeader">
	<div id="backBtn" class="leftHolder" data-ng-click="toFolder(fileHolder.file.folderId)">
		<div class="content">
			<i class="icon-chevron-left"></i></i><span class="text"></span>
		</div>
	</div>
    <div class="currentGroupHolder" data-ng-click="goToActivityFeed()">
    	<div class="fadeSuroundingsLeft"></div>
    	
    	<overflow-banner class="currentGroup" duration="3000">
    		{{currentGroup.name}}
        	<div class="fadeContentRight"></div>
    	</overflow-banner>

        <div class="fadeSuroundingsRight"></div>
    </div>
    <div class="rightHolder">
    </div>
</div>

<div id="DCFileDetail" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
	<div class="title">{{fileHolder.file.title}}</div>
	<div class = "content">
		<div ng-show="fileHolder.file.ifSupport">
			Available Offline <div btn-switch ng-model="fileHolder.file.offline"></div>
		</div>
		<div ng-show="!fileHolder.file.ifSupport">
			Not Support File Type to Open
		</div>
		<p>
			Fifle Type: {{fileHolder.file.extension}} File Version:{{fileHolder.file.version}}
		</p>
		<br />
		<p>
			Created by: {{fileHolder.file.userName}}<br />
			At {{fileHolder.file.createDate}}
		</p>
		<br />
		<p>
			Last Modified by: {{fileHolder.file.versionUserName}}<br />
			At {{fileHolder.file.modifiedDate}}
		</p>
		<button class="btn" ng-show="fileHolder.file.offline" ng-click="openFile(fileHolder.file.localFileDir,fileHolder.file.uti)">View File</button>
	</div>
</div>