<div id="DCFolder" class="expand">

	<div id="fixedContentHeader" data-ng-show="showConentHeader" data-ng-class="{'noNav':root}" class="nothingRight">
		<div id="backBtn" class="leftHolder" data-ng-click="back()" ng-show="folderHolder.folder.folderId != 0" data-ng-hide="root">
			<div class="content">
				<i class="fa fa-long-arrow-left"></i></i>
				<!-- <span class="text">
					{{folderHolder.folder.name}}
				</span> -->
			</div>
		</div>
	    <div class="currentGroupHolder" data-ng-click="goToActivityFeed()">
	    	<div class="fadeSuroundingsLeft"></div>
	    	
	    	<div class="currentGroup">
	    		<div ng-show="currentGroup.name != 'Agora'">{{currentGroup.name}}</div>
	    		<div ng-show="currentGroup.name == 'Agora'"><img id="topGroupLogo" src="./img/UNINETT_logo.png"/></div>
	    	</div>
	    </div>
	    <div class="fadeContentRight"></div>
	</div>
	<div scrollable trigger-distance="200" loading="{{loading}}" loading-color="bababa" scroll-ease="30">
		<div ng-show="showprogress">
        	<progress id="downloadFileProgressbar" percent="downloadProgress" class="progress-bar-info progress-striped active"></progress>
    	</div>
		<ul class="folderList">
			<li id="folders" ng-show="folderHolder.folder.subFolders.length != 0">
				<span class="text">{{ '_DCFoldersTitle_' | i18n }}</span>
			</li>
			<li class="content row" data-ng-repeat="sub in folderHolder.folder.subFolders" data-ng-click="gotoFolder(sub)">
				<div class="rowIcon">
					<div class="iconHolder">
						<i class="fa fa-folder-o fa-2x"></i>
					</div>
				</div>
				
				<div class="textHolder">
						<span class="rowText">{{sub.name}}</span>
				</div>
			</li>
		</ul>
		<ul class="fileList">
			<li id="files" ng-show="folderHolder.folder.files.length != 0">
				<span class="text">{{ '_DCFilesTitle_' | i18n }}</span>
			</li>
			<li class="content" data-ng-repeat="file in folderHolder.folder.files" >
				<div class="row" data-ng-click="showFile(file)">
					<div class="rowIcon" >
						<div class="iconHolder">
							<i class="fa fa-file-o fa-2x"></i>
						</div>
					</div>
					
					<div class="textHolder" >
							<span class="rowText">{{file.title}}</span>
					</div>
				</div>
				<div class="fileInfoTransition"></div>
				<div class="fileInfo" data-ng-click="fileDetail(file)">
					<i class="fa fa-info fa-2x" class="detailBtn" ></i>
				</div>
			</li>
		</ul>

	</div>
</div>