<div id="fixedContentHeader" data-ng-show="showConentHeader">
	<span id="upBtn" data-ng-click="upFolder(folder.parentFolderId)" ng-show="folder.folderId != 0"><i class="icon-collapse-top"></i>Up</span>
    <span class="currentGroup" data-ng-click="goToGroup(currentGroup)">
        <i class="icon-home home"></i>
        <span>{{currentGroup.name}}</span>
    </span>
</div>
<div id="DCFolder" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">

	<ul class="folderList">
		<li>Folders</li>
		<li ng-show="folder.subFolders.length == 0">No subFolders</li>
		<li data-ng-repeat="sub in folder.subFolders" id="MBthread" data-ng-click="gotoFolder(sub)">
			<i class="icon-folder-close-alt"></i>&nbsp;&nbsp;{{sub.name}}
		</li>
	</ul>
	<ul class="fileList">
		<li>Files</li>
		<li ng-show="folder.files.length == 0">No files</li>
		<li data-ng-repeat="file in folder.files" id="MBthread" data-ng-click="showFile(file)">
			<i class="icon-file-alt"></i>&nbsp;&nbsp;{{file.title}}
		</li>
	</ul>

</div>