<div id="DCFolder" class="expand">

	<div id="fixedContentHeader" data-ng-show="showConentHeader">
		<div id="backBtn" class="leftHolder" data-ng-click="toFolder(folderHolder.folder.parentFolderId)" ng-show="folderHolder.folder.folderId != 0">
			<div class="content">
				<i class="icon-level-up"></i></i><span class="text">{{folderHolder.folder.name}}</span>
			</div>
		</div>
	    <div class="currentGroupHolder" data-ng-click="goToActivityFeed()">
	    	<div class="fadeSuroundingsLeft"></div>
	    	
	    	<overflow-banner class="currentGroup" duration="3000">
	    		{{currentGroup.name}}
	        	<div class="fadeContentRight"></div>
	    	</overflow-banner>

	        <div class="fadeSuroundingsRight"></div>
	    </div>
	    <div class="rightHolder">
	    </div>
	</div>

	<div scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">

		<ul class="folderList">
			<li id="folders" ng-show="folderHolder.folder.subFolders.length != 0">
				<span class="text">FOLDERS</span>
			</li>
			<li class="content row" data-ng-repeat="sub in folderHolder.folder.subFolders" data-ng-click="gotoFolder(sub)">
				<div class="rowIcon">
					<div class="iconHolder">
						<i class="icon-folder-close-alt icon-2x"></i>
					</div>
				</div>
				
				<div class="textHolder">
						<span class="rowText">{{sub.name}}</span>
				</div>
			</li>
		</ul>
		<ul class="fileList">
			<li id="files" ng-show="folderHolder.folder.files.length != 0">
				<span class="text">FILES</span>
			</li>
			<li class="content" data-ng-repeat="file in folderHolder.folder.files" >
				<span class="row" data-ng-click="showFile(file)">
					<div class="rowIcon" >
						<div class="iconHolder">
							<i class="icon-file-alt icon-2x"></i>
						</div>
					</div>
					
					<div class="textHolder" >
							<span class="rowText">{{file.title}}</span>
					</div>
				</span>
				<div class="fileInfoTransition"></div>
				<div class="fileInfo" data-ng-click="fileDetail(file)">
					<i class="icon-info icon-2x" class="detailBtn" ></i>
				</div>
			</li>
		</ul>

	</div>
</div>