<div id="categories" class="expand">
	<div id="fixedContentHeader" data-ng-show="showConentHeader" data-ng-class="{'noNav':root}" >

        <div id="backBtn" class="leftHolder" data-ng-click="goBack()" ng-hide="root">
			<div class="content">
				<i class="icon-long-arrow-left"></i></i>
				<!-- <span class="text">
					{{folderHolder.folder.name}}
				</span> -->
			</div>
		</div>
	    <div class="currentGroupHolder" data-ng-click="goToActivityFeed()">
	    	<div class="fadeSuroundingsLeft"></div>
	    	
	    	<div class="currentGroup">
	    		<span>
	    			<span class="groupName">
	    				{{currentGroup.name}}
    				</span>
    				<span class="category" data-ng-show="rootCategory.name">
    					: {{rootCategory.name}}
    				</span>
	        	</span>
	    	</div>
	    </div>
	    <div class="fadeContentRight"></div>
	    
	</div>
	<div scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24" scroll-ease="30">
		<div id="threadsHeader" ng-show="rootCategory.threads.length != 0">
				<span class="text">{{ '_mbThreadTag_' | i18n }}</span>
		</div>
		<div class="instance" data-ng-repeat="thread in rootCategory.threads" id="MBthread" data-ng-click="showMessages(thread)">
			<div class="header">
				<div class="title">{{thread.title}}</div>
				<div class="meta">{{ '_mbStartedText_' | i18n }}: {{thread.statusByUserName}}</div>
			</div>
			<div class="content"> 
				{{ '_mbMessagesText_' | i18n }}: {{thread.messageCount}}
			</div>
			<div class="meta"> 
				{{ '_mbLatestText_' | i18n }}: {{thread.lastPostDate}}
			</div>
		</div>
		<div id="categoriesHeader">
				<span class="text">{{ '_mbCategoryTag_' | i18n }}</span>
		</div>
		<div class="category instance" data-ng-repeat="category in rootCategory.children" id="MBcategory" data-ng-click="openCategory(category)">
			
			<div class="header">
				<div class="title">{{category.name}}</div>
			</div>
			<div class="content" data-ng-show="category.description"> 
				{{category.description}}			
			</div>
			<div class="content" data-ng-hide="category.description"> 
				{{ '_mbCategoryDesText_' | i18n }}		
			</div>
			<div class="meta">
				<span>{{ '_mbThreadTag_' | i18n }}: {{category.threadCount}}</span>
			</div>
		</div>
	</div>
	<alert id="noCategory" data-ng-show="rootCategory.children.length == 0 && rootCategory.threads.length == 0">{{ '_mbNoContentTag_' | i18n }}</alert>
</div>