<div id="fixedContentHeader" data-ng-show="showConentHeader">
    <span class="currentGroup" data-ng-click="goToGroup(currentGroup)">
        <i class="icon-home home"></i>
        <span>{{currentGroup.name}}</span>
    </span>
</div>
<div id="categories" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
	<div class="category" data-ng-repeat="category in categoriesHolder.categories" id="MBcategory" data-ng-click="showTreads(category)">
		
		<div class="title">{{category.name}}</div>
		<div class="content"> 
			<span>Thread: {{category.threadCount}}</span>
			
			<span>Message: {{category.messageCount}}</span>
		</div>
	</div>
</div>
<alert id="noCategory" style="visibility:hidden">No Categories in this group</alert>