<div id="fixedContentHeader" data-ng-show="showConentHeader">
	<div id="backBtn" data-ng-click="backToThread()">
		<div class="content">
			<i class="icon-chevron-left"></i></i><span class="text">Threads</span>
		</div>
		<div class="transition"></div>
	</div>
    <div class="currentGroup" data-ng-click="goToActivityFeed()">
        <i class="icon-home home"></i>
        <span>{{currentGroup.name}}</span>
    </div>
</div>

<div id="messages" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
	<div data-ng-repeat="message in messagesHolder.messages" id="MBmessage">
		<div class="messageHeader">
			<div class="title" >{{message.subject}}</div>
			<div class="content">
				<span> 
					Message By {{message.userName}} at {{message.modifiedDate}}
				</span>
			</div>
		</div>
		<div class="messageBody" message-body-content content="message.body"></div>
	</div>
	<alert id="noThread" style="visibility:hidden">No Message in this Thread</alert>
</div>