<div id="fixedContentHeader" data-ng-show="showConentHeader">
	<div id="backBtn" data-ng-click="backToCategory()" >
		<div class="content">
			<i class="icon-chevron-left"></i></i><span class="text">Categories</span>
		</div>
		<div class="transition"></div>
	</div>
    <div class="currentGroup" data-ng-click="goToGroup(currentGroup)">
        <i class="icon-home home"></i>
        <span>{{currentGroup.name}}</span>
    </div>
</div>
<div id="threads" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
	<div data-ng-repeat="thread in threadsHolder.threads" id="MBthread" data-ng-click="showMessages(thread)">
		<h3>{{thread.title}}</h3>
		<p>Latest Post: {{thread.lastPostDate}}<br /></p>
		<p>
			<strong>Posts: </strong>{{thread.messageCount}}&nbsp;<strong>Views: </strong>{{thread.viewCount}}&nbsp;<strong>Started by: </strong>{{thread.statusByUserName}} 
		</p>
	</div>
	<alert id="noThread" style="visibility:hidden">No Thread in this Category</alert>
</div>