<div id="threads" class="expand">
	<div id="fixedContentHeader" data-ng-show="showConentHeader">
		<div id="backBtn" class="leftHolder" data-ng-click="back()">
			<div class="content">
				<i class="icon-long-arrow-left"></i></i><span class="text"></span>
			</div>
		</div>
	    <div class="currentGroupHolder" data-ng-click="goToActivityFeed()">
	    	<div class="fadeSuroundingsLeft"></div>
	    	
	    	<div class="currentGroup">
	    		<span>
	    			<span class="groupName">
	    				{{currentGroup.name}}
    				</span>
    				<span class="category" data-ng-show="rootCategory.name">
    					: {{rootCategory.name}}
    				</span>
	        	</span>
	    	</div>
	    </div>
	    <div class="fadeContentRight"></div>
	</div>

	<div scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24" scroll-ease="30">
		<div id="threadsHeader">
				<span class="text">{{ '_mbThreadTag_' | i18n }}</span>
		</div>
		<div class="instance" data-ng-repeat="thread in threadsHolder.threads" id="MBthread" data-ng-click="showMessages(thread)">
			<div class="header">
				<div class="title">{{thread.title}}</div>
				<div class="meta">{{ '_mbStartedText_' | i18n }}: {{thread.statusByUserName}}</div>
			</div>
			<div class="content"> 
				{{ '_mbMessagesText_' | i18n }}: {{thread.messageCount}}
			</div>
			<div class="meta"> 
				{{ '_mbLatestText_' | i18n }}: {{thread.lastPostDate}}
			</div>
		</div>
		<alert id="noThread" data-ng-show="threadsHolder.threads.length == 0">{{ '_mbNoThreadText_' | i18n }}</alert>
	</div>
</div>