<div id="settings" class="expand" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24" scroll-ease="30">
	<div class="instance" data-ng-click="toggle('settings.lowBandwidth')">
		<details class="data">
			<summary class="meta">
				{{ '_settingsLowBandTag_' | i18n }}
			</summary>
			<div class="detailsContent">
				<label for="lowBandwidth" data-ng-click="toggleSetting('lowBandwidth')">
					{{ '_settingsLowBandBtn_' | i18n }}
				</label>
				<div class="switch" btn-switch ng-model="settings.lowBandwidth"></div>
			</div>
		</details>
	</div>
	<div class="instance" data-ng-click="toggle('settings.disableNotifications')">
		<details class="data">
			<summary class="meta">
				{{ '_settingsDisNotificationTag_' | i18n }}
			</summary>
			<div class="detailsContent">
				<label for="notifications" data-ng-click="toggleSetting('disableNotifications')">
					{{ '_settingsDisNotificationBtn_' | i18n }}
				</label>
				<div class="switch" btn-switch ng-model="settings.disableNotifications"></div>
			</div>
		</details>
	</div>
	<div class="instance" data-ng-click="toggle('settings.storage')">
		<details class="data">
			<summary class="meta">
				{{ '_settingsStorageTag_' | i18n }}
			</summary>
			<div class="detailsContent">
				<label for="availableOffline" data-ng-click="toggleSetting('availableOffline')">
					{{ '_settingsDisStorageBtn_' | i18n }}
				</label>
				<div class="switch" btn-switch ng-model="settings.availableOffline"></div>
			</div>
		</details>
	</div>
	<button id="clearAllFiles" class="btn" type="button" data-ng-click="clearAllFiles()" ng-show="savedFilesHolder.savedFiles.length >0">
		{{ '_settingsClearFilesBtn_' | i18n }}
	</button>
	<label data-ng-repeat="file in savedFilesHolder.savedFiles" class="checkbox"><input type="checkbox" data-ng-click="checkDelete($event,file)">{{file.title}}</label>
	<button id="manageOfflineFiles" class="btn" type="button" data-ng-click="deleteChosenFiles()" ng-show="savedFilesHolder.savedFiles.length >0">
		{{ '_settingsDeleteFileBtn_' | i18n }}
	</button>
</div>
