<div id="settings" class="expand" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24" scroll-ease="30">
	<div class="instance" data-ng-click="toggle('settings.lowBandwidth')">
		<details class="data">
			<summary class="meta">
				If you want less datatrafic you can modify application behaviour
			</summary>
			<div class="detailsContent">
				<label name="lowBandwidth">
					Don't preload group data
				</lable>
				<input type="checkbox" data-ng-model="settings.lowBandwidth" />
			</div>
		</details>
	</div>
	<div class="instance" data-ng-click="toggle('settings.disableNotifications')">
		<details class="data">
			<summary class="meta">
				Change application background behaviour
			</summary>
			<div class="detailsContent">
				<label name="notifications">
					Disable notifications
				</lable>
				<input type="checkbox" data-ng-model="settings.disableNotifications" />
			</div>
		</details>
	</div>
</div>
