<div id="fixedContentHeader" data-ng-show="showConentHeader">
    <span class="currentGroup" data-ng-click="goToGroup(currentGroup)">
        <i class="icon-home home"></i>
        <span>{{currentGroup.name}}</span>
    </span>
</div>

<script type="text/ng-template"  id="nestList">
    <summary class = "leafSummary">
		<i class="icon-folder-close-alt" ng-show="node.childrenNodes.length > 0"></i><i class="icon-book" ng-show="node.childrenNodes.length == 0"></i>&nbsp;&nbsp;&nbsp;
		<a style="text-decoration: none;" data-ng-click="showWiki(node.title,nodeId)">{{node.title}}</a>
    </summary>
    <details class = "leaf" ng-repeat="node in node.childrenNodes" ng-include="'nestList'"></details>
</script>

<div id="contentList" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
	<details class="root" ng-repeat="node in listTree" ng-include="'nestList'"></details>
</div>