<div id="wikiContentList" class="expand">
    <div id="fixedContentHeader" data-ng-show="showConentHeader">

            <overflow-banner class="currentGroup" duration="3000" data-ng-click="goToActivityFeed()">
                {{currentGroup.name}}
                <div class="fadeContentRight"></div>
            </overflow-banner>
        
    </div>

    <div id="contentList" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24"  scroll-ease="30">
        <tree data-ng-repeat="root in wikiTreeHolder.contentTree" root="root" click="showWiki(title)" open="'true'"></tree>
    </div>
</div>