<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->

        <script type="text/javascript" src="../../cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
        <!--For remote debugging-->
        <script src="http://debug.phonegap.com/target/target-script-min.js#agora"></script>
        
        <!--Third party lib:http://effinroot.eiremedia.netdna-cdn.com/repo/plugins/misc/spin.js/index.html-->
        <script src="lib/spin.min.js" type="text/javascript"></script>
        <!--Third party lib:http://underscorejs.org/-->
        <script src="lib/underscore.js"></script>

        <!--<script src="lib/zepto.js"></script>-->
        <script src="lib/jquery-1.10.1.js"></script>

        <!--Third party lib, for gestures:http://eightmedia.github.io/hammer.js/-->
        <script src="lib/jquery.hammer.min.js"></script>

        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-cookies.js"></script>

        <script src="lib/angular-ui/ui-bootstrap-tpls-0.3.0.js"></script>
        <link rel="stylesheet" href="lib/angular-ui/bootstrap-combined.min.css" />

        <!--Font awesome-->
        <link rel="stylesheet" href="lib/FontAwesome/css/font-awesome.min.css">
        

        <!-- Our angular components -->
        
        <script src="js/services/utilityService.js"></script>
        <script src="js/services/httpService.js"></script>
        <script src="js/services/storageService.js"></script>
        <script src="js/services/groupService.js"></script>
        <script src="js/services/activityService.js"></script>
        <script src="js/services/loginService.js"></script>

        <script src="js/app.js"></script>

        <script src="js/directives/iFrameDialog.js"></script>
        <script src="js/directives/activeLink.js"></script>
        <script src="js/directives/ng-infinite-scroll.js"></script>
        <script src="js/directives/scrollable.js"></script>
        <script src="js/directives/spinner.js"></script>
        
        <script src="js/controllers/mainCtrl.js"></script>
        <script src="js/controllers/indexCtrl.js"></script>
        <script src="js/controllers/loginCtrl.js"></script>
        <script src="js/controllers/menuCtrl.js"></script>
        <script src="js/controllers/notificationCtrl.js"></script>
        <script src="js/controllers/messageBoardCtrl.js"></script>
        <script src="js/controllers/documentsCtrl.js"></script>
        <script src="js/controllers/wikiCtrl.js"></script>
        <script src="js/controllers/activityFeedCtrl.js"></script>

        <!-- customized css file -->
        <link rel="stylesheet" href="css/login.css" />
        <link rel="stylesheet" href="css/menu.css" />
        <link rel="stylesheet" href="css/notifications.css" />
        <link rel="stylesheet" href="css/header.css" />
        <link rel="stylesheet" href="css/contentHeader.css" />
        <link rel="stylesheet" href="css/messageBoard.css" />
        <link rel="stylesheet" href="css/documents.css" />
        <link rel="stylesheet" href="css/wiki.css" />
        <link rel="stylesheet" href="css/view.css" />
        <link rel="stylesheet" href="css/iFrameDialog.css" />
        <link rel="stylesheet" href="css/activityFeed.css" />
        <link rel="stylesheet" href="css/app.css"/>

        <script type="text/javascript">
        </script>

        <title>Agora Mobile</title>
    </head>
    <body data-ng-controller="MainCtrl">
        <div data-ng-switch on="validUser">
            <div data-ng-switch-when="true" data-ng-controller="IndexCtrl">
                <nav id="main-nav" class="main-nav" data-ng-class="menuVar">
                    <div id="menu" ng-controller="MenuCtrl">
                        <img id="userPortrait" src="{{user.portraitImgUrl}}" />
                        <h3>{{user.fullName}}</h3>
                        <ul class="nav nav-list groups">
                            <li>
                                Groups
                            </li>
                            <li data-ng-repeat="group in groups" data-ng-click="switchGroup(group)">
                                {{group.name}}
                            </li>
                        </ul>
                        <ul class="nav nav-list settings">
                            <li>
                                Settings
                            </li>
                            <li data-ng-click="logout()">
                                <i class="icon-signout"></i>Sign out
                            </li>
                            <li >
                                <i class="icon-info-sign"></i>About
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="page-wrap" data-ng-class="menuVar">

                    <header>
                        <div id="headerCell">
                            <table>
                                <tr>
                                    <td>
                                        <i  class="menuButton icon-align-justify icon-3x" data-ng-click="toggleMenu()"></i>
                                    </td>
                                    <td>
                                        <div id="mainFunctions">
                                            <i data-ng-click="path('messageBoard')" href="#messageBoard" id="messageBoardButton" class="icon-comments-alt icon-3x" active-link="activeFunction"></i>
                                            <i data-ng-click="path('documents')" href="#documents" class="icon-file-text-alt icon-3x" active-link="activeFunction"></i>
                                            <i data-ng-click="path('wiki')" href="#wiki" class="icon-edit icon-3x" active-link="activeFunction"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <i class="icon-search icon-3x searchButton"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </header>

                    <div id="contentWrapper">
                        <div id="notifications">
                            <div data-ng-controller="NotificationCtrl">
                                <alert data-ng-repeat="notification in notifications" type="notification.type" close="closeAlert($index)"  >{{notification.msg}}</alert>
                            </div>
                        </div>
                        <div id="scrollableContent" scrollable trigger-distance="200" loading="{{loading}}" loading-color="ed1c24">
                            
                            <div id="fixedContentHeader" data-ng-click="goToGroup(groups.current)" data-ng-show="flashVar">
                                <span class="currentGroup">
                                    <i class="icon-home home"></i>
                                    <span>{{currentGroup.name}}</span>
                                    <!-- <span>Group</span> -->
                                </span>
                            </div>
                            
                            <div id="view" data-ng-view></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="login" data-ng-switch-when="false" data-ng-controller="LoginCtrl">
                <img id="agora_logo" src="img/agora_logo.png"></img>
                <alert id="loginMessage" ng-model="loginMsg" type="loginMsg.type" style="visibility:hidden">{{loginMsg.msg}}</alert>
                <form data-ng-submit="login()">
                    <p>
                        <label name="username">Screen Name</label><input name="username" type="text" data-ng-model="username" required /></br>

                        <label name="password">Password</label><input name="password" type="password" data-ng-model="password" required/></br>
                    </p>
                    <input type="submit" value="Sign In"/>
                </form>
                <div id="feideLoginDiv">
                    <i-frame-dialog url="{{feideLoginUrl}}"></i-frame-dialog>
                </div>
                <img id="uninett_logo" src="img/UNINETT_logo.png"></img>
            </div>
        </div>
    </body>
    
</html>
