<div id="login">
    
    <script type="text/ng-template" id="loginDialog.html">
        <div class="modal-header">
            <h3>{{dialog.title}}</h3>
        </div>
        <div class="modal-body">
            <p>{{dialog.msg}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="selectDialog.html">
        <div class="modal-header">
            <span id="affiliationSelectTitle" data-i18n="_loginSelectTitle_"></span>
        </div>
        <div id="selectBody" class="modal-body">
            <ul id="affiliationSelect">
                <li ng-repeat="option in options" ng-click="select(option)" data-ng-bind="option.name"></li>
                <li id="noAffiliation" ng-click="select('no')" data-i18n="_LoginNoAffiliationName_" ></li>
            </ul>
        </div>
    </script>
    
    <script type="text/ng-template" id="feideLoginMsg.html">
        <div class="modal-header">
            <h3>{{feideLoginMsg.title}}</h3>
        </div>
        <div id="feideLoginMsgBody" class="modal-body">
            <p>
                {{feideLoginMsg.msg1}}<br />
                {{feideLoginMsg.msg2}}<br />
                {{feideLoginMsg.msg3}}<br />
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <progress id="loginprogressbar" percent="loginProgress" class="progress-bar-info progress-striped active"></progress>
    
    <img id="agora_logo" src="img/agoramobile_text.png"></img>
    <div id="feideLoginBtnDiv">
        <i class="fa fa-info-circle"><sapn data-i18n="_FEIDELoginInfo_"><span></i><span id="feideLogin" ng-click="showFeideLoginMsg()" data-i18n="_FEIDELoginBtn_"></span>
    <div>
    <div id="affiliationBar">
        <div id="choiceBtn" class="btn" ng-click="showAffiliations()">{{affiliationText}}<i id="choiceBtn-icon" class="fa fa-caret-down"></i></div>
    </div>

    <form id="loginForm">
        <div class="loginFormElement">
            <input id="loginNameInput" name="username" type="text" data-ng-model="username" data-i18n-attr="_LoginNameTitle_|placeholder" data-ng-required />
        </div>

        <div class="loginFormElement">
            <input id="loginPwdInput" name="password" type="password" data-ng-model="password" data-i18n-attr="_LoginPwdTitle_|placeholder" data-ng-required />
        </div>

        <div id="LoginBtnDiv">
            <button id="regularLogin" class="btn" ng-click="login()" data-i18n="_regularLoginBtn_"></button>
        </div>
    </form>
    
    <div id="loginFooter">
        <img id="uninett_logo" src="img/UNINETT_logo.png"></img>
    </div>
    <notifier id="notifier" animation="'slideVertical'" height="4em"></notifier>
</div>