<div id="login">
    
    <img id="agora_logo" src="img/agora_logo.png"></img>
    
    <form>

        <div id="affiliationBar">
        <label id="affiliationLabel" ng-class="labelShowing" data-i18n="_LoginAffiliationLabel_"></label>
        <button id="choiceBtn" class="btn dropdown-toggle" data-ng-bind="affiliationText" ng-click="showAffiliations()"></button>
        <ul ng-class="affiliationShowing">
            <li ng-repeat="a in affiliations">
                <span class="affiliationTitle" ng-click="setAffiliation(a)" data-ng-bind="a.name"></span>
            </li>
            <li id="noAffiliation">
                <span class="affiliationTitle" ng-click="setAffiliation('no')" data-i18n="_LoginNoAffiliationName_" ></span>
            </li>
        </ul>
        </div>

        <p>
            <label name="username" data-i18n="_LoginNameTitle_"></label><input name="username" type="text" data-ng-model="username" data-ng-required /></br>

            <label name="password" data-i18n="_LoginPwdTitle_"></label><input name="password" type="password" data-ng-model="password" data-ng-required /></br>
        </p>

        <div id="feideLoginDiv">
            <button id="regularLogin" class="btn" ng-click="login()" data-i18n="_regularLoginBtn_"></button>
        </div>
        <i class="icon-info-sign"></i><span id="feideLogin" in-app-browser url="feideLoginUrl" data-i18n="_feideLoginBtn_"></span>
        
    </form>
    
    <footer>
        <img id="uninett_logo" src="img/UNINETT_logo.png"></img>
    </footer>
    <notifier id="notifier" animation="'slideVertical'" height="4em"></notifier>
</div>