<div>
    <nav id="main-nav" class="main-nav" data-ng-class="menuVar">
        <div id="menu" ng-controller="MenuCtrl">
            <img id="userPortrait" src="{{user.portraitImgUrl}}" />
            <h3>{{user.fullName}}</h3>
            <ul class="nav nav-list groups">
                <li data-ng-click="switchGroup('top')">
                    Groups
                </li>
                <li data-ng-repeat="group in groups" data-ng-click="switchGroup(group)">
                    {{group.name}}
                </li>
            </ul>
            <ul class="nav nav-list settings">
                <li>
                    Settings
                </li>
                <li data-ng-click="logout()">
                    <i class="icon-signout"></i>Sign out
                </li>
                <li >
                    <i class="icon-info-sign"></i>About
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrap" data-ng-class="menuVar">

        <header>
            <div id="headerCell">
                <table>
                    <tr>
                        <td>
                            <i  class="menuButton icon-align-justify icon-3x" data-ng-click="toggleMenu()"></i>
                        </td>
                        <td>
                            <div id="mainFunctions">
                                <i data-ng-click="path('stage.messageBoard.categories')" data-ng-class="{activeLinkClass : stateIs('stage.messageBoard.categories')}"  class="icon-comments-alt icon-3x" ></i>
                                <i data-ng-click="path('stage.documents')" data-ng-class="{activeLinkClass : stateIs('stage.documents')}" class="icon-file-text-alt icon-3x" ></i>
                                <i data-ng-click="path('stage.wiki.contentlist')" data-ng-class="{activeLinkClass : stateIs('stage.wiki.contentlist')}" class="icon-edit icon-3x" ></i>
                            </div>
                        </td>
                        <td>
                            <i class="icon-search icon-3x searchButton"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </header>

        <div id="contentWrapper">
            <div id="notifications">
                <div data-ng-controller="NotificationCtrl">
                    <alert data-ng-repeat="notification in notifications" type="notification.type" close="closeAlert($index)"  >{{notification.msg}}</alert>
                </div>
            </div>
            <div class="expand center" ui-view></div>

            <notifier id="notifier"></notifier>
        </div>
    </div>
</div>