<div>
    <nav id="main-nav" class="main-nav" data-ng-class="menuVar">
        <div id="menu" ng-controller="MenuCtrl">
            <div class="header">
                <div id="mainHeader">
                    <div id="userPortrait">
                        <img id="userPortrait" ng-src="{{user.portraitImgUrl}}" />
                    </div>
                    <span class="name">
                        {{user.fullName}}
                    </span>
                </div>
                <div id="groupsHeader">
                    <span data-ng-click="switchGroup()">
                        Groups
                    </span>
                </div>
            </div>
            <div class="content" >
                <ul class="nav nav-list groups">
                    <li data-ng-repeat="group in groupsHolder.groups" data-ng-click="switchGroup(group)">
                        {{group.name}}
                    </li>
                </ul>
            </div>
            <ul class="nav nav-list footer">
                <li data-ng-click="goTo('stage.settings')">
                    <i class="icon-cogs"></i>Settings
                </li>
                <li data-ng-click="logout()">
                    <i class="icon-signout"></i>Sign out
                </li>
                <li data-ng-click="goTo('stage.about')">
                    <i class="icon-info-sign"></i>About
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrap" data-ng-class="menuVar">

        <header>
            <div id="headerCell">
                <table>
                    <tr>
                        <td>
                            <i  class="menuButton icon-align-justify icon-3x" data-ng-click="toggleMenu()"></i>
                        </td>
                        <td>
                            <div id="mainFunctions">
                                <i data-ng-click="path('stage.messageBoard.categories')" data-ng-class="{activeLinkClass : stateIs('stage.messageBoard.categories')}"  class="icon-comments icon-3x" ></i>
                                <i data-ng-click="path('stage.documents.root')" data-ng-class="{activeLinkClass : stateIs('stage.documents.root')}" class="icon-file icon-3x" ></i>
                                <i data-ng-click="path('stage.wiki.contentlist')" data-ng-class="{activeLinkClass : stateIs('stage.wiki.contentlist')}" class="icon-book icon-3x" ></i>
                            </div>
                        </td>
                        <td>
                            <i class="icon-search icon-3x searchButton"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </header>

        <!-- <div id="contentWrapper" spinner loading="loading" loading-color="ed1c24"> -->
        <div id="contentWrapper">
            <div id="notifications">
                <div data-ng-controller="NotificationCtrl">
                    <alert data-ng-repeat="notification in notifications" type="notification.type" close="closeAlert($index)"  >{{notification.msg}}</alert>
                </div>
            </div>
            <div class="expand center" ui-view></div>
            <notifier id="notifier" animation="'slideVertical'" height="4em"></notifier>
        </div>
    </div>
</div>