<div>
    <nav id="main-nav" class="main-nav" data-ng-class="menuVar">
        <div id="menu" ng-controller="MenuCtrl">
            <div class="header">
                <div id="mainHeader">
                    <div id="userPortrait">
                        <img id="userPortrait" ng-src="{{user.portraitImgUrl}}" />
                    </div>
                    <span class="name">
                        {{user.fullName}}
                    </span>
                </div>
            </div>
            <div class="content" >
                <div id="groupsHeader">
                    <span data-ng-click="switchGroup()">
                        Agora
                    </span>
                </div>
                <ul class="nav nav-list groups">
                    <li data-ng-repeat="group in groupsHolder.groups" data-ng-click="switchGroup(group)">
                        {{group.name}}
                        <div class="fadeContentRight"></div>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-list footer">
                <li data-ng-click="goToPage('stage.settings')">
                    <i class="icon-cogs"></i>{{ '_menuSettingsTag_' | i18n }}
                </li>
                <li data-ng-click="logout()">
                    <i class="icon-signout"></i>{{ '_menuLogoutTag_' | i18n }}
                </li>
                <li data-ng-click="goToPage('stage.about')">
                    <i class="icon-info-sign"></i>{{ '_menuAboutTag_' | i18n }}
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrap" data-ng-class="menuVar">

        <header>
            <div id="headerCell">
                <table>
                    <tr>
                        <td>
                            <i  class="menuButton icon-align-justify icon-2x sideButton" data-ng-click="toggleMenu()"></i>
                        </td>
                        <td>
                            <div id="mainFunctions">
                                <i data-ng-click="goToActivityFeed()" data-ng-class="{activeLinkClass : stateIs('stage.activityFeed')}"  class="icon-home icon-2x centerButton" ></i>
                                <i data-ng-click="changePage('stage.messageBoard.categories')" data-ng-class="{activeLinkClass : stateIs('stage.messageBoard.categories')}"  class="icon-comments icon-2x centerButton" ></i>
                                <i data-ng-click="changePage('stage.documents.root')" data-ng-class="{activeLinkClass : stateIs('stage.documents.root')}" class="icon-archive icon-2x centerButton" ></i>
                                <i data-ng-click="changePage('stage.wiki.contentlist')" data-ng-class="{activeLinkClass : stateIs('stage.wiki.contentlist')}" class="icon-paste icon-2x centerButton" ></i>
                            </div>
                        </td>
                        <td>
                            <i class="icon-search icon-2x searchButton sideButton" data-ng-click="toggleSearch()"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </header>

        <!-- <div id="contentWrapper" spinner loading="loading" loading-color="ed1c24"> -->
        <div id="contentWrapper">
            <div id="notifications">
                <div data-ng-controller="NotificationCtrl">
                    <alert data-ng-repeat="notification in notifications" type="notification.type" close="closeAlert($index)"  >{{notification.msg}}</alert>
                </div>
            </div>
            <div class="expand center" ui-view></div>
            <notifier id="notifier" animation="'slideVertical'" height="4em"></notifier>
        </div>
    </div>

    <nav id="search-nav" class="search-nav" data-ng-class="menuVar">
        <div id="search" ng-controller="SearchCtrl">
            <header>
                <div id="searchHeader">

                    <i id="backToMainBtn" class="icon-angle-left icon-2x sideButton" data-ng-click="toggleSearch()"></i>
                    <div id="searchForm">
                        <input type="text" class="search-query" id="searchInput" ng-model="keyword" placeholder="keyword for search">
                        <button type="submit" class="btn" ng-click="search()"><i class="icon-search"></i></button>
                    </div>
                </div>
            </header>
            <div data-ng-repeat="r in results" >
                {{r.type}}  {{r.groupName}} {{r.snippet}} {{r.modifiedDate}}
            </div>
        </div>
    </nav>
</div>